<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cashsafe.cashsafe" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".PrincipalActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ReceitaActivity"
            android:label="@string/title_activity_receita"
            android:parentActivityName=".PrincipalActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PrincipalActivity" />
        </activity>
        <activity
            android:name=".DespesaActivity"
            android:label="@string/title_activity_despesa"
            android:parentActivityName=".PrincipalActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PrincipalActivity" />
        </activity>
        <activity
            android:name=".DespesasCategoriaActivity"
            android:label="@string/title_activity_despesas_categoria"
            android:parentActivityName=".PrincipalActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PrincipalActivity" />
        </activity>
        <activity
            android:name=".ReceitaCategoriaActivity"
            android:label="@string/title_activity_receita_categoria"
            android:parentActivityName=".PrincipalActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PrincipalActivity" />
        </activity>
        <activity
            android:name=".BalancoActivity"
            android:label="@string/title_activity_balanco"
            android:parentActivityName=".PrincipalActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PrincipalActivity" />
        </activity>
        <activity
            android:name=".BalancoMensalActivity"
            android:label="@string/title_activity_balanco_mensal"
            android:parentActivityName=".PrincipalActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PrincipalActivity" />
        </activity>
    </application>

</manifest>
